In [1]:
import numpy as np

In [3]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

for row in data:
    print(row)
    for col in row:
        print(col)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

In [4]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

for row in enumerate(data):
    print(row)
    for col in enumerate(row):
        print(col)

(0, [1, 2, 3])
(0, 0)
(1, [1, 2, 3])
(1, [4, 5, 6])
(0, 1)
(1, [4, 5, 6])
(2, [7, 8, 9])
(0, 2)
(1, [7, 8, 9])

In [7]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

data[0][1] = 7
data

[[1, 7, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

for row_idx ,row in enumerate(data):
    for col_idx, col in enumerate(row):
        data[row_idx][col_idx] = data[row_idx][col_idx] + 5
data

[[6, 7, 8], [9, 10, 11], [12, 13, 14]]

In [16]:
t(enumerate(['qasim','hamza','asif']))

[(0, 'qasim'), (1, 'hamza'), (2, 'asif')]

In [17]:
idx, v = (0, 'qasim')
print(idx, v)

0 qasim

In [11]:
type(data)

list

# Numpy start

In [12]:
import numpy as np

data = np.array([[1,2,3],
                 [4,5,6],
                 [7,8,9]])
data

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [13]:
print(type(data))

<class 'numpy.ndarray'>

In [14]:
data = np.array([[1,2,3],
                 [4,5,6],
                 [7,8,9]])
data + 5

array([[ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [18]:
data - 2

array([[-1,  0,  1],
       [ 2,  3,  4],
       [ 5,  6,  7]])

In [19]:
data * 2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [20]:
data / 2

array([[0.5, 1. , 1.5],
       [2. , 2.5, 3. ],
       [3.5, 4. , 4.5]])

In [21]:
data % 2

array([[1, 0, 1],
       [0, 1, 0],
       [1, 0, 1]])

In [27]:
data = np.arange(2*3*10*10).reshape(2,3,10,10)
data

array([[[[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9],
         [ 10,  11,  12,  13,  14,  15,  16,  17,  18,  19],
         [ 20,  21,  22,  23,  24,  25,  26,  27,  28,  29],
         [ 30,  31,  32,  33,  34,  35,  36,  37,  38,  39],
         [ 40,  41,  42,  43,  44,  45,  46,  47,  48,  49],
         [ 50,  51,  52,  53,  54,  55,  56,  57,  58,  59],
         [ 60,  61,  62,  63,  64,  65,  66,  67,  68,  69],
         [ 70,  71,  72,  73,  74,  75,  76,  77,  78,  79],
         [ 80,  81,  82,  83,  84,  85,  86,  87,  88,  89],
         [ 90,  91,  92,  93,  94,  95,  96,  97,  98,  99]],

        [[100, 101, 102, 103, 104, 105, 106, 107, 108, 109],
         [110, 111, 112, 113, 114, 115, 116, 117, 118, 119],
         [120, 121, 122, 123, 124, 125, 126, 127, 128, 129],
         [130, 131, 132, 133, 134, 135, 136, 137, 138, 139],
         [140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
         [150, 151, 152, 153, 154, 155, 156, 157, 158, 159],
         [160, 161, 162, 163, 164, 165, 166, 167, 168, 169],
         [170, 171, 172, 173, 174, 175, 176, 177, 178, 179],
         [180, 181, 182, 183, 184, 185, 186, 187, 188, 189],
         [190, 191, 192, 193, 194, 195, 196, 197, 198, 199]],

        [[200, 201, 202, 203, 204, 205, 206, 207, 208, 209],
         [210, 211, 212, 213, 214, 215, 216, 217, 218, 219],
         [220, 221, 222, 223, 224, 225, 226, 227, 228, 229],
         [230, 231, 232, 233, 234, 235, 236, 237, 238, 239],
         [240, 241, 242, 243, 244, 245, 246, 247, 248, 249],
         [250, 251, 252, 253, 254, 255, 256, 257, 258, 259],
         [260, 261, 262, 263, 264, 265, 266, 267, 268, 269],
         [270, 271, 272, 273, 274, 275, 276, 277, 278, 279],
         [280, 281, 282, 283, 284, 285, 286, 287, 288, 289],
         [290, 291, 292, 293, 294, 295, 296, 297, 298, 299]]],


       [[[300, 301, 302, 303, 304, 305, 306, 307, 308, 309],
         [310, 311, 312, 313, 314, 315, 316, 317, 318, 319],
         [320, 321, 322, 323, 324, 325, 326, 327, 328, 329],
         [330, 331, 332, 333, 334, 335, 336, 337, 338, 339],
         [340, 341, 342, 343, 344, 345, 346, 347, 348, 349],
         [350, 351, 352, 353, 354, 355, 356, 357, 358, 359],
         [360, 361, 362, 363, 364, 365, 366, 367, 368, 369],
         [370, 371, 372, 373, 374, 375, 376, 377, 378, 379],
         [380, 381, 382, 383, 384, 385, 386, 387, 388, 389],
         [390, 391, 392, 393, 394, 395, 396, 397, 398, 399]],

        [[400, 401, 402, 403, 404, 405, 406, 407, 408, 409],
         [410, 411, 412, 413, 414, 415, 416, 417, 418, 419],
         [420, 421, 422, 423, 424, 425, 426, 427, 428, 429],
         [430, 431, 432, 433, 434, 435, 436, 437, 438, 439],
         [440, 441, 442, 443, 444, 445, 446, 447, 448, 449],
         [450, 451, 452, 453, 454, 455, 456, 457, 458, 459],
         [460, 461, 462, 463, 464, 465, 466, 467, 468, 469],
         [470, 471, 472, 473, 474, 475, 476, 477, 478, 479],
         [480, 481, 482, 483, 484, 485, 486, 487, 488, 489],
         [490, 491, 492, 493, 494, 495, 496, 497, 498, 499]],

        [[500, 501, 502, 503, 504, 505, 506, 507, 508, 509],
         [510, 511, 512, 513, 514, 515, 516, 517, 518, 519],
         [520, 521, 522, 523, 524, 525, 526, 527, 528, 529],
         [530, 531, 532, 533, 534, 535, 536, 537, 538, 539],
         [540, 541, 542, 543, 544, 545, 546, 547, 548, 549],
         [550, 551, 552, 553, 554, 555, 556, 557, 558, 559],
         [560, 561, 562, 563, 564, 565, 566, 567, 568, 569],
         [570, 571, 572, 573, 574, 575, 576, 577, 578, 579],
         [580, 581, 582, 583, 584, 585, 586, 587, 588, 589],
         [590, 591, 592, 593, 594, 595, 596, 597, 598, 599]]]])

# Start Numpy Basics

In [28]:
a = np.arange(1,10)
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [29]:
a = np.arange(1,11)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [30]:
a = np.arange(2,21)
a

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20])

In [31]:
a = np.arange(2,21,2)
a

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [34]:
[1,2,3]

[1, 2, 3]

In [32]:
a = np.array([1,2,3])
a

array([1, 2, 3])

In [35]:
a = np.array([[1,2,3],
             [4,5,6],
             [7,8,9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [40]:
a = np.array([[1,2,3],
             [4,5,6],
             [7,8,9]])

print("Shape",a.shape)# each dimension number axis
print("dimension",a.ndim)# total dimension axis
print("size",a.size)# total elemnts

Shape (3, 3)
dimension 2
size 9

In [ ]:
a = np.array([[1,2,3],
             [4,5,6]])

print("Shape",a.shape)# each dimension number axis
print("dimension",a.ndim)# total dimension axis
print("size",a.size)# total elemnts

In [54]:
a = np.array([[1, 2, 3, 4], 
              [5, 6, 7, 8], 
              [9, 10, 11, 12]])

# a[1][2]
print("shape", a.shape)
a[1]

shape (3, 4)

array([5, 6, 7, 8])

In [55]:
a = np.array([[1, 2, 3, 4], 
              [5, 6, 7, 8], 
              [9, 10, 11, 12]])

# a[1][2]
print("shape", a.shape)
a[:,0]# all rows but column 0

shape (3, 4)

array([1, 5, 9])

In [56]:
a = np.array([[1, 2, 3, 4], 
              [5, 6, 7, 8], 
              [9, 10, 11, 12]])

# a[1][2]
print("shape", a.shape)
a[:,-1]# all rows but column -1 last

shape (3, 4)

array([ 4,  8, 12])

In [57]:
a = np.array([[1, 2, 3, 4], 
              [5, 6, 7, 8], 
              [9, 10, 11, 12]])

# a[1][2]
print("shape", a.shape)
a[1,:]# all rows but column -1 last

shape (3, 4)

array([5, 6, 7, 8])

# list

In [61]:
data = np.arange(10*10).reshape(10,10)# .reshape(num_row, num_col)
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [68]:
data = np.arange(10*10).reshape(10,10)# .reshape(num_row, num_col)
data[5: ,5: ] = data[5: ,5: ] * 5 / 2 + 3
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [64]:
data[5 ,5 ]

55

In [75]:
data = np.arange(11*11).reshape(11,11)# .reshape(num_row, num_col)
#     rows ,  cols
data[2:-2 ,  2:-2]
# data

array([[24, 25, 26, 27, 28, 29, 30],
       [35, 36, 37, 38, 39, 40, 41],
       [46, 47, 48, 49, 50, 51, 52],
       [57, 58, 59, 60, 61, 62, 63],
       [68, 69, 70, 71, 72, 73, 74],
       [79, 80, 81, 82, 83, 84, 85],
       [90, 91, 92, 93, 94, 95, 96]])

In [76]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [77]:
np.ones(6)

array([1., 1., 1., 1., 1., 1.])

In [78]:
np.zeros(10,dtype=np.int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [79]:
np.ones(6, dtype=np.int)

array([1, 1, 1, 1, 1, 1])

In [80]:
data.shape

(11, 11)

In [87]:
np.ones(data.shape, dtype=np.int)

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [84]:
np.ones_like(data)

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [88]:
np.empty(10)

array([4.64355440e-310, 0.00000000e+000, 6.79038653e-313, 6.79038653e-313,
       6.79038653e-313, 6.79038653e-313, 2.29175545e-312, 2.14321575e-312,
       4.06019461e-086, 3.35860425e-143])

In [89]:
np.empty_like(data)

array([[4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408],
       [4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408, 4607182418800017408,
        4607182418800017408, 4607182418800017408]])

# 1-2 ,generate between 1 and 2, total equal steps 5

In [91]:
np.linspace(1,2, 5)

array([1.  , 1.25, 1.5 , 1.75, 2.  ])

In [93]:
np.arange(1,2.25,0.25)

array([1.  , 1.25, 1.5 , 1.75, 2.  ])

In [97]:
np.linspace(1,2,4)

array([1.        , 1.33333333, 1.66666667, 2.        ])

# sorting

In [98]:
d = np.array([8,4,2,3,1,6,9,5,7,10])
d

array([ 8,  4,  2,  3,  1,  6,  9,  5,  7, 10])

In [100]:
print("raw d values",d)
np.sort(d)

raw d values [ 8  4  2  3  1  6  9  5  7 10]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
[ 8  4  2  3  1  6  9  5  7 10]
[4,2,3,1,7,5,8,0,6,9]

In [103]:
list(enumerate([ 8 , 4,  2,  3,  1,  6,  9,  5,  7, 10]))

[(0, 8),
 (1, 4),
 (2, 2),
 (3, 3),
 (4, 1),
 (5, 6),
 (6, 9),
 (7, 5),
 (8, 7),
 (9, 10)]

In [101]:
print("raw d values",d)
np.argsort(d)

raw d values [ 8  4  2  3  1  6  9  5  7 10]

array([4, 2, 3, 1, 7, 5, 8, 0, 6, 9])

In [108]:
d = np.array([8,4,2,3,1,6,9,5,7,10])
d.searchsorted(11)

10

In [109]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])
print("a",a)
print("b",b)
np.concatenate((a,b))

a [1 2 3 4]
b [5 6 7 8]

array([1, 2, 3, 4, 5, 6, 7, 8])

In [110]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])
print("a",a)
print("b",b)
np.vstack((a,b))

a [1 2 3 4]
b [5 6 7 8]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [111]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])
print("a",a)
print("b",b)
np.hstack((a,b))

a [1 2 3 4]
b [5 6 7 8]

array([1, 2, 3, 4, 5, 6, 7, 8])

In [112]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])
print("a",a)
print("b",b)
np.stack((a,b),axis=0)

a [1 2 3 4]
b [5 6 7 8]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [113]:
np.stack((a,b),axis=1)

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [120]:
a = np.array([1, 2, 3, 4])
a[[True, False, False, True]]

array([1, 4])

# np.in1d

In [115]:
bank_cnic = np.arange(1,11)
bank_cnic

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [117]:
state_bank = np.array([100,75,7, 20, 125, 3])
state_bank

array([100,  75,   7,  20, 125,   3])

for s_cnic in state_bank:
    if s_cnic in bank_cnic:
        print(True,s_cnic)

In [119]:
np.in1d(state_bank, bank_cnic)

array([False, False,  True, False, False,  True])

In [121]:
state_bank[np.in1d(state_bank, bank_cnic)]

array([7, 3])

In [124]:
np.intersect1d(state_bank,bank_cnic)

array([3, 7])

# task

In [136]:
a = np.arange(20*5).reshape((20,5))
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64],
       [65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74],
       [75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84],
       [85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94],
       [95, 96, 97, 98, 99]])

In [137]:
a % 3 == 0

array([[ True, False, False,  True, False],
       [False,  True, False, False,  True],
       [False, False,  True, False, False],
       [ True, False, False,  True, False],
       [False,  True, False, False,  True],
       [False, False,  True, False, False],
       [ True, False, False,  True, False],
       [False,  True, False, False,  True],
       [False, False,  True, False, False],
       [ True, False, False,  True, False],
       [False,  True, False, False,  True],
       [False, False,  True, False, False],
       [ True, False, False,  True, False],
       [False,  True, False, False,  True],
       [False, False,  True, False, False],
       [ True, False, False,  True, False],
       [False,  True, False, False,  True],
       [False, False,  True, False, False],
       [ True, False, False,  True, False],
       [False,  True, False, False,  True]])

In [138]:
a[a % 3 == 0]

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [139]:
(a % 3 == 0 ) & (a % 5 == 0)

array([[ True, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [ True, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [ True, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [ True, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [ True, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [ True, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [ True, False, False, False, False],
       [False, False, False, False, False]])

In [140]:
a[(a % 3 == 0 ) & (a % 5 == 0)]

array([ 0, 15, 30, 45, 60, 75, 90])

In [142]:
a[(a % 3 == 0 ) & (a % 5 == 0) & (a % 6 == 0)]

array([ 0, 30, 60, 90])

In [146]:
b = np.arange(11)
print(b)
b < 5

[ 0  1  2  3  4  5  6  7  8  9 10]

array([ True,  True,  True,  True,  True, False, False, False, False,
       False, False])

In [147]:
b = np.arange(11)
print(b)
b % 2

[ 0  1  2  3  4  5  6  7  8  9 10]

array([0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0])

In [148]:
b = np.arange(11)
print(b)
b % 2 == 0

[ 0  1  2  3  4  5  6  7  8  9 10]

array([ True, False,  True, False,  True, False,  True, False,  True,
       False,  True])

In [152]:
b[~(b % 2 == 0)]

array([1, 3, 5, 7, 9])

In [149]:
b[b % 2 == 0]

array([ 0,  2,  4,  6,  8, 10])

# attendance

In [153]:
x = """
Muhammad Atique Qayyum2:01 PM
yes can hear you clearly
Syed Ammad Waheed2:07 PM
syed ammad waheed hassani 4210113863591
Mohsin Kanani2:08 PM
4230108335683
Muhammad faizan Farooque2:08 PM
4230139662957
Zeeshan Javed2:08 PM
4230189725317
Afnan Ali2:08 PM
Muhammad Afnan Ali Khan 4210146436547
Wasiq Gt2:08 PM
4250104502069
Syed Rafiq ul Hoda2:09 PM
4210107768583
Abdul Samad Siddiqui2:09 PM
4250164941763
Saba Naz2:09 PM
42501-2598780-8
Muhammad Ali Syed Sadiqullah2:09 PM
42501-0528690-7
Hassan Ahmed2:09 PM
4220156089133
Qazi Moawiz2:09 PM
3130399221225
Khawar Masood2:09 PM
42101-4113797-7
syed daniyal Ejaz2:09 PM
please speak loud sir
Mushyada Ali2:09 PM
4210103553847
Dewan S Khan2:09 PM
4220105630741
Muhammad Ayaz2:09 PM
4410242997959
Rahat Qayoum EB20_110 (20102110)2:10 PM
4240128161338
Tatheer Fatima2:10 PM
4210124609792
Nofil Ahmed2:10 PM
4210175076663
Hassan Khan2:10 PM
4240160019477
Sumayya Kamran EB20_125 (EB20102125)2:10 PM
42501-0654455-2
syed daniyal Ejaz2:10 PM
4250189782769
manal khan2:10 PM
4210170238438
Sania Tehseen2:11 PM
4210115022744
Muhammad Sameer2:13 PM
4250110257001
zain abidi2:15 PM
4250119167549
syed daniyal Ejaz2:22 PM
voice issue sir please speak load sir thanks
Loud*
Muneeb Ahmed2:22 PM
42101-8342718-3
Afnan Ali2:22 PM
sahi arhi ha awaz
Muhammad Atique Qayyum2:22 PM
your voice is clear to me
Khawar Masood2:23 PM
voice is so clear sir
Dewan S Khan2:23 PM
sir plz again
Muhammad Atique Qayyum2:33 PM
sir to much distortion
Munir Ali2:33 PM
distortion in voice sir
Mushyada Ali2:33 PM
your voice is breaking
Muneeb Ahmed2:34 PM
voice distortion
Muhammad Atique Qayyum2:34 PM
yes still breaking
no
Wasiq Gt2:35 PM
yes
Muhammad Ayaz2:35 PM
yes sir
Hassan Khan2:35 PM
Yes sir
Ad Khan2:38 PM
Muhammad Adnan Khan 4220113823383
Syed Usama Shahzad2:38 PM
4210134163079
Khawar Masood2:40 PM
no voice from your side sir
Muhammad faizan Farooque2:40 PM
no voice
Muhammad Atique Qayyum2:40 PM
can't hear you sir
Shakir Hussain2:42 PM
Sir your screen is not shared
Rozina Mazhar Ali2:42 PM
it is shared
Muhammad faizan Farooque2:42 PM
it is shared and visible
Shakir Hussain2:43 PM
It's shared now
Syed Kashif2:50 PM
42501-4448854-5
Rozina Mazhar Ali2:51 PM
4220159083880
Faiza Asad2:51 PM
4200052746960
Muneeb Ahmed2:57 PM
42101-8342718-3\
Tabish sheikh3:22 PM
4210129511133
usman ahmad3:22 PM
4220113316709
Arsalan Ahmed3:22 PM
4220165351957
Syed Tanveer3:22 PM
4220169252467
Muhammad faizan Farooque3:22 PM
4230139662957
Shakir Hussain3:22 PM
4210182767349
Zeeshan Naqvi3:23 PM
4210151751811
Rao Taha3:23 PM
4220172475489
Khizra Rizvi3:24 PM
5440047459326
Zahid Bashir3:24 PM
4250191411023
HAREEM RIZVI3:26 PM
42101-3311570-4
Syed Ali3:26 PM
Syed Masroor Ali 42401-1880106-5
Syed Usama Shahzad3:35 PM
4210134163079
Syed Kashif3:37 PM
42501-4448854-5
Tariq Mehmood3:38 PM
4220104505899
Hassan Khan3:38 PM
4240160019477
Mohsin Kanani3:38 PM
4230108335683
Dewan S Khan3:45 PM
4220105630741
Shoaib Abdul Razzaque3:46 PM
5140176791651
Syed Usama Shahzad3:49 PM
4210134163079
Bilal Ahmed3:50 PM
4210120075463
Muhammad Sameer3:53 PM
No sir
Syed Usama Shahzad3:57 PM
4210134163079
Nazneen Akram3:57 PM
4210145447712
Bilal Ahmed3:57 PM
4210120075463
Munir Ali3:57 PM
4220101410369
Zareen Fatima3:57 PM
3520269403788
Muhammad Atique Qayyum3:57 PM
4220140225263
Wasiq Gt3:57 PM
4250104502069
Haris Chhipa3:57 PM
4210156195059
Qazi Moawiz3:57 PM
3130399221225
Shakir Hussain3:57 PM
4210182767349
Dewan S Khan3:57 PM
4220105630741
Yusra Adnan3:57 PM
4210164790696
Syed Ali3:57 PM
Syed Masroor Ali, 42401-1880106-5
Zeeshan Naqvi3:58 PM
4210151751811
Nazneen Akram3:58 PM
4210145447712
Syed Rafiq ul Hoda3:58 PM
4210107768583
Syed Muhammad Abdullah3:58 PM
4220122868467 Syed Muhammad Abdullah
Hassan Khan3:58 PM
4240160019477
Muhammad Ayaz3:58 PM
4410242997959
Zeeshan Javed3:58 PM
4230189725317
Asima Ali3:58 PM
4420626938874
Faiza Asad3:58 PM
4200052746960
Syed Tanveer3:58 PM
4220169252467
Tabassum Ali3:58 PM
4230123126547
Shoaib Abdul Razzaque3:58 PM
5140176791651
Fazal Diyan3:58 PM
42301-9945992-1
Sania Tehseen3:58 PM
4210115022744
Sumayya Kamran EB20_125 (EB20102125)3:58 PM
4250106544552
Muhammad Sameer3:58 PM
4250110257001
Muhammad Ali Syed Sadiqullah3:58 PM
4250105286907
Shakir Hussain3:58 PM
4210182767349
Mushyada Ali3:59 PM
4210103553847
manal khan3:59 PM
4210170238438
Afnan Ali3:59 PM
Muhammad Afnan Ali Khan 4210146436547
Nofil Ahmed3:59 PM
4210175076663
"""

x = x.replace("-","")
import re
cnic = re.findall(r"\b\d{13}\b",x)
print(len(cnic))
cnic = list(set(cnic))
print(len(cnic))

88
56

In [154]:
import pandas as pd
df = pd.DataFrame(cnic, columns=["CNIC"])
df

             CNIC
0   4210129511133
1   4210113863591
2   4210124609792
3   4220169252467
4   4210183427183
5   4240118801065
6   4410242997959
7   4250189782769
8   3520269403788
9   4210145447712
10  4250125987808
11  4220113823383
12  4210107768583
13  4210146436547
14  4220165351957
15  4220122868467
16  4250105286907
17  4230123126547
18  4250106544552
19  4250144488545
20  4220156089133
21  4210115022744
22  4250104502069
23  4210133115704
24  4210134163079
25  4210103553847
26  4210182767349
27  4220172475489
28  5440047459326
29  4250119167549
30  4420626938874
31  4210156195059
32  4250191411023
33  4220101410369
34  4220140225263
35  3130399221225
36  4210141137977
37  4240128161338
38  4250110257001
39  4200052746960
40  4210175076663
41  4220159083880
42  4210120075463
43  4210164790696
44  4230189725317
45  4220113316709
46  5140176791651
47  4220105630741
48  4210170238438
49  4220104505899
50  4230199459921
51  4230108335683
52  4250164941763
53  4210151751811
54  4240160019477
55  4230139662957

In [155]:
df.to_excel("class2_attendance.xlsx",index=False)